body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2; /* Use the desired background color */
}

nav {
    background-color: #333;
    padding: 10px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: orange;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: orangered;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

.chart-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 250px;
}

.chart {
    width: 48%;
    height: 300px;
}

.logout-link {
    text-align: center;
    border-top: 2px solid #ddd;
    padding: 20px;
    font-size: 18px;
}

.logout-link a {
    color: red;
    text-decoration: none;
}
