body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

nav {
    background-color: #333;
    padding: 10px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: orange;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #5c5757;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

@media screen and (max-width: 600px) {
    table {
        overflow-x: auto;
        table-layout: fixed;
    }

    th, td {
        white-space: nowrap;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-left: 10px;
}

.chart {
    width: 100%;
    max-width: 400px;
    height: 300px;
}

.logout-link {
    text-align: center;
    border-top: 2px solid #ddd;
    padding: 20px;
    font-size: 18px;
}

.logout-link a {
    color: red;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .chart-container {
        padding-left: 0;
    }
}
